src/main/resources/SendDataExtraccionService.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.mop.cl/controlextraccion/wsdl/datosExtraccion/SendDataExtraccionService"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:ns="http://www.mop.cl/controlextraccion/xsd/datosExtraccion/SendDataExtraccionRequest"
                  xmlns:ns1="http://www.mop.cl/controlextraccion/xsd/datosExtraccion/SendDataExtraccionResponse"
                  xmlns:ns2="http://www.mop.cl/controlextraccion/xsd/datosExtraccion/GetDataExtraccionRequest"
                  xmlns:ns3="http://www.mop.cl/controlextraccion/xsd/datosExtraccion/GetDataExtraccionResponse"
                  xmlns:ns4="http://www.mop.cl/controlextraccion/xsd/datosExtraccion/AuthSendDataExtraccionRequest"
                  xmlns:ns5="http://www.mop.cl/controlextraccion/xsd/datosExtraccion/AuthSendDataExtraccionResponse"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns="http://www.mop.cl/controlextraccion/wsdl/datosExtraccion/SendDataExtraccionService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <wsdl:documentation>
        <wsdl:appinfo source="WMQI_APPINFO">
            <MRWSDLAppInfo imported="true">
                <binding hasEncoding="false" imported="true" name="SendDataExtraccionBinding"
                         originalBindingStyle="document"/>
            </MRWSDLAppInfo>
        </wsdl:appinfo>
    </wsdl:documentation>
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified"
                    targetNamespace="http://www.mop.cl/controlextraccion/wsdl/datosExtraccion/SendDataExtraccionService"
                    xmlns:ns1="http://www.mop.cl/controlextraccion/wsdl/datosExtraccion/SendDataExtraccionService"
                    xmlns:ns2="http://www.mop.cl/controlextraccion/xsd/datosExtraccion/SendDataExtraccionRequest"
                    xmlns:ns3="http://www.mop.cl/controlextraccion/xsd/datosExtraccion/SendDataExtraccionResponse"
                    xmlns:ns4="http://www.mop.cl/controlextraccion/xsd/datosExtraccion/GetDataExtraccionRequest"
                    xmlns:ns5="http://www.mop.cl/controlextraccion/xsd/datosExtraccion/GetDataExtraccionResponse"
                    xmlns:ns6="http://www.mop.cl/controlextraccion/xsd/datosExtraccion/AuthSendDataExtraccionRequest"
                    xmlns:ns7="http://www.mop.cl/controlextraccion/xsd/datosExtraccion/AuthSendDataExtraccionResponse"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.mop.cl/controlextraccion/xsd/datosExtraccion/SendDataExtraccionResponse"
                        schemaLocation="https://snia.mop.gob.cl/wst/controlextraccion/wsdl/datosExtraccion/SendDataExtraccionService?xsd=xsd0"/>
            <xsd:import namespace="http://www.mop.cl/controlextraccion/xsd/datosExtraccion/SendDataExtraccionRequest"
                        schemaLocation="https://snia.mop.gob.cl/wst/controlextraccion/wsdl/datosExtraccion/SendDataExtraccionService?xsd=xsd1"/>
            <xsd:import namespace="http://www.mop.cl/controlextraccion/xsd/datosExtraccion/SendDataExtraccionRequest"
                        schemaLocation="https://snia.mop.gob.cl/wst/controlextraccion/wsdl/datosExtraccion/SendDataExtraccionService?xsd=xsd2"/>

            <xsd:import namespace="http://www.mop.cl/controlextraccion/xsd/datosExtraccion/GetDataExtraccionResponse"
                        schemaLocation="https://snia.mop.gob.cl/wst/controlextraccion/wsdl/datosExtraccion/SendDataExtraccionService?xsd=xsd3"/>
            <xsd:import namespace="http://www.mop.cl/controlextraccion/xsd/datosExtraccion/GetDataExtraccionRequest"
                        schemaLocation="https://snia.mop.gob.cl/wst/controlextraccion/wsdl/datosExtraccion/SendDataExtraccionService?xsd=xsd4"/>

            <xsd:import
                    namespace="http://www.mop.cl/controlextraccion/xsd/datosExtraccion/AuthSendDataExtraccionResponse"
                    schemaLocation="https://snia.mop.gob.cl/wst/controlextraccion/wsdl/datosExtraccion/SendDataExtraccionService?xsd=xsd5"/>
            <xsd:import
                    namespace="http://www.mop.cl/controlextraccion/xsd/datosExtraccion/AuthSendDataExtraccionRequest"
                    schemaLocation="https://snia.mop.gob.cl/wst/controlextraccion/wsdl/datosExtraccion/SendDataExtraccionService?xsd=xsd6"/>
            <xsd:import
                    namespace="http://www.mop.cl/controlextraccion/xsd/datosExtraccion/AuthSendDataExtraccionRequest"
                    schemaLocation="https://snia.mop.gob.cl/wst/controlextraccion/wsdl/datosExtraccion/SendDataExtraccionService?xsd=xsd7"/>

        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="sendDataExtraccionRequest">
        <wsdl:part element="ns:sendDataExtraccionRequest" name="sendDataExtraccionReq"/>
        <wsdl:part element="ns:sendDataExtraccionTraza" name="tracking"/>
    </wsdl:message>
    <wsdl:message name="sendDataextraccionResponse">
        <wsdl:part element="ns1:sendDataExtraccionResponse" name="sendDataExtraccionResp"/>
    </wsdl:message>

    <wsdl:message name="getDataExtraccionRequest">
        <wsdl:part element="ns2:getDataExtraccionRequest" name="getDataExtraccionReq"/>
    </wsdl:message>

    <wsdl:message name="getDataExtraccionResponse">
        <wsdl:part element="ns3:getDataExtraccionResponse" name="getDataExtraccionResp"/>
    </wsdl:message>

    <wsdl:message name="authSendDataExtraccionRequest">
        <wsdl:part element="ns4:authSendDataExtraccionRequest" name="authSendDataExtraccionReq"/>
        <wsdl:part element="ns4:authSendDataExtraccionTraza" name="tracking"/>
    </wsdl:message>

    <wsdl:message name="authSendDataExtraccionResponse">
        <wsdl:part element="ns5:authSendDataExtraccionResponse" name="authSendDataExtraccionResp"/>
    </wsdl:message>

    <wsdl:portType name="SendDataExtraccionPortType">


        <wsdl:operation name="getDataExtraccionOp">
            <wsdl:input message="tns:getDataExtraccionRequest" name="getDataExtraccionRequest"/>
            <wsdl:output message="tns:getDataExtraccionResponse" name="getDataExtraccionResponse"/>
        </wsdl:operation>

        <wsdl:operation name="authSendDataExtraccionOp">
            <wsdl:input message="tns:authSendDataExtraccionRequest" name="authSendDataExtraccionRequest"/>
            <wsdl:output message="tns:authSendDataExtraccionResponse" name="authSendDataExtraccionResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="SendDataExtraccionBinding" type="tns:SendDataExtraccionPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getDataExtraccionOp">
            <soap:operation soapAction="http://www.mop.cl/controlextraccion/wsdl/datosExtraccion/getDataExtraccionOp"/>
            <wsdl:input name="getDataExtraccionRequest">
                <soap:body parts="getDataExtraccionReq" use="literal"/>
            </wsdl:input>
            <wsdl:output name="getDataExtraccionResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="authSendDataExtraccionOp">
            <soap:operation
                    soapAction="http://www.mop.cl/controlextraccion/wsdl/datosExtraccion/authSendDataExtraccionOp"/>
            <wsdl:input name="authSendDataExtraccionRequest">
                <soap:header message="tns:authSendDataExtraccionRequest" part="tracking" use="literal"/>
                <soap:body parts="authSendDataExtraccionReq" use="literal"/>
            </wsdl:input>
            <wsdl:output name="authSendDataExtraccionResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

    </wsdl:binding>
    <wsdl:service name="sendDataExtraccionService">
        <wsdl:port binding="tns:SendDataExtraccionBinding" name="SendDataExtraccionPort">
            <soap:address
                    location="https://snia.mop.gob.cl/controlextraccion/datosExtraccion/SendDataExtraccionService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>