src/main/resources/wsdl/SendDataExtraccionService_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.mop.cl/controlextraccion/xsd/datosExtraccion/SendDataExtraccionResponse" xmlns="http://www.mop.cl/controlextraccion/xsd/datosExtraccion/SendDataExtraccionResponse" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="StatusType">
    <xsd:annotation>
      <xsd:documentation>Estructura retorno servicio Web</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Code" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Codigo de retorno 0[cero] implica exitoso</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Description" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Descripcion asociada al campo Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>